{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>update form</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css'%}">
</head>
<body>
    <h1 class="btn btn-danger "> This is form is update successfully! </h1>


    <script src="{% static 'js/jquery.js'%}"></script>
    <script src="{% static 'js/upper.js'%}"></script>
    <script src="{% static 'js/bootstrap.js'%}"></script>
</body>
</html>